#main {
    margin: auto;
    width: 300px;
}
#sign {
    width: 100%;
    height: 25px;
    text-align: center;
    margin: auto;
    background-color: #c5ced8;

}
#errors {
    text-align: center;
}
form {
    width: auto;
}
fieldset {
    width: auto;
    margin: auto;
    padding:0;
}
input, select {
    margin-left: 5%;
    width: 90%;
}
label {
    font-size: 12px;
}
.check {
    width: auto;

}
button {
    float: right;
}
.valueError {
    border: solid red 1.5px;
}
.errorMessage {
    color: red;
}
span {
    font-size: 10px;
}

#mainCompanies {
    width:70%;
    height:70%;
    position:absolute;
    left:15%;
    top:2%;

}
#total {
    float: left;
    width: 40%;
    height: 40%;
    border: thick solid #d8d5d6;
    margin: 10px;



}
#companiesList {
    float: right;
    width: 40%;
    height: 40%;
    border: thick solid #d8d5d6;
    margin: 10px;

}
#diagrams {
    float: left;
    width: 40%;
    height: 40%;
    border: thick solid #d8d5d6;
    margin: 10px;

}
#news {
    float: right;
    width: 40%;
    height: 40%;
    border: thick solid #d8d5d6;
    margin: 10px;

}
.companiesSpan {
    width: 100%;
    height: 15%;
    background-color: #d8d5d6;
    text-align: left;


}
#companies {
    overflow-y: scroll;
    height: 75%;
    width: 95%;
    margin: 2%;
    border: 0.5px solid #000000;
}
.elem {
    height: 25px;
    border-top: 0.5px solid #000000;
    text-align: left;
    font-size: 14px;
    padding-top: 5px;
}
A {
    color: #000000;
}
A:link { text-decoration: none; }
A:visited { text-decoration: none; }
A:active { text-decoration: none; }
A:hover {
    text-decoration: none;

}
#uncompanies {
    float: right;
    width: 98%;
    height: 30%;
    border: solid #d8d5d6 1px;
    margin: 8px;
}